n8n-workflows/02_viral-benchmark-script-gen.json
{
  "name": "viral-benchmark-generate-script",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "viral-benchmark-generate-script",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 2,
      "id": "webhook-trigger",
      "notes": "接收 { items: [{queue_item_id, platform, video_id, video_url, title, author_name}] }\n立即回 200，背景執行"
    },
    {
      "parameters": {
        "jsCode": "// 把 items 陣列拆成逐項\nconst items = $input.first().json.body?.items || $input.first().json.items || [];\nreturn items.map(item => ({ json: item }));"
      },
      "name": "拆分項目",
      "type": "n8n-nodes-base.code",
      "position": [480, 300],
      "typeVersion": 2,
      "id": "split-items",
      "notes": "把 items[] 陣列拆成逐項處理"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// 完整逐字稿生成流程（單項）\n// TikHub 下載 URL → 下載影片 → Gemini 上傳 → Gemini 生成 → 寫回 DB\n// =============================================\n\nconst TIKHUB_BASE = $env.TIKHUB_API_BASE_URL || 'https://api.tikhub.io';\nconst TIKHUB_KEY = $env.TIKHUB_API_KEY || '';\nconst GEMINI_KEY = $env.GEMINI_API_KEY || '';\nconst GEMINI_MODEL = 'gemini-2.5-flash';\nconst SQL_WEBHOOK = 'https://lokokk2002ai.zeabur.app/webhook/supabase-sql';\n\nconst item = $input.first().json;\nconst { queue_item_id, platform, video_id, video_url, title, author_name } = item;\n\n// 工具函式：執行 SQL\nasync function runSQL(sql) {\n  const res = await fetch(SQL_WEBHOOK, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ sql }),\n  });\n  return res.json();\n}\n\n// 工具函式：更新狀態\nasync function updateStatus(status, scriptRaw = null, timecodes = null) {\n  const sets = [`status = '${status}'`];\n  if (scriptRaw !== null) {\n    sets.push(`script_raw = '${scriptRaw.replace(/'/g, \"''\")}'`);\n  }\n  if (timecodes !== null) {\n    sets.push(`script_timecodes = '${JSON.stringify(timecodes).replace(/'/g, \"''\")}'::jsonb`);\n  }\n  if (status === 'completed') {\n    sets.push(`script_generated_at = NOW()`);\n  }\n  await runSQL(\n    `UPDATE viral_benchmark.shoot_queue SET ${sets.join(', ')} WHERE id = '${queue_item_id}'`\n  );\n}\n\ntry {\n  // === Step 1: TikHub 取得無水印下載 URL ===\n  let downloadUrl = null;\n  \n  if (platform === 'douyin' || platform === 'tiktok') {\n    const apiPath = platform === 'douyin'\n      ? '/api/v1/douyin/app/v3/fetch_one_video'\n      : '/api/v1/tiktok/app/v3/fetch_one_video';\n    \n    const tikRes = await fetch(\n      `${TIKHUB_BASE}${apiPath}?aweme_id=${video_id}`,\n      {\n        headers: {\n          Authorization: `Bearer ${TIKHUB_KEY}`,\n          Accept: 'application/json',\n        },\n      }\n    );\n    \n    if (tikRes.ok) {\n      const tikJson = await tikRes.json();\n      if (tikJson.code === 200) {\n        const aweme = tikJson.data?.aweme_detail || tikJson.data;\n        downloadUrl =\n          aweme?.video?.play_addr?.url_list?.[0] ||\n          aweme?.video?.play_addr_h264?.url_list?.[0] ||\n          aweme?.video?.play_addr_lowbr?.url_list?.[0] ||\n          aweme?.video?.download_addr?.url_list?.[0] ||\n          null;\n      }\n    }\n  }\n  \n  if (!downloadUrl) {\n    const platformName = platform === 'xiaohongshu' ? '小紅書' :\n      platform === 'douyin' ? '抖音' :\n      platform === 'tiktok' ? 'TikTok' : platform;\n    const errMsg = `無法取得影片下載連結（${platformName}）`;\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // === Step 2: 下載影片 ===\n  const videoRes = await fetch(downloadUrl, {\n    headers: {\n      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n      Referer: 'https://www.douyin.com/',\n    },\n    redirect: 'follow',\n  });\n  \n  if (!videoRes.ok) {\n    const errMsg = '影片下載失敗，URL 可能已過期';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  const videoBuffer = await videoRes.arrayBuffer();\n  const contentType = videoRes.headers.get('content-type') || 'video/mp4';\n  const mimeType = contentType.includes('video') ? contentType : 'video/mp4';\n  \n  if (videoBuffer.byteLength < 10240) {\n    const errMsg = '下載的影片檔案太小（< 10KB）';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // === Step 3: Gemini Files API 上傳 ===\n  const numBytes = videoBuffer.byteLength;\n  const displayName = `viral_${platform}_${video_id}`;\n  \n  // 3a: 開始上傳\n  const startRes = await fetch(\n    `https://generativelanguage.googleapis.com/upload/v1beta/files?key=${GEMINI_KEY}`,\n    {\n      method: 'POST',\n      headers: {\n        'X-Goog-Upload-Protocol': 'resumable',\n        'X-Goog-Upload-Command': 'start',\n        'X-Goog-Upload-Header-Content-Length': String(numBytes),\n        'X-Goog-Upload-Header-Content-Type': mimeType,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({ file: { display_name: displayName } }),\n    }\n  );\n  \n  if (!startRes.ok) {\n    const err = await startRes.text();\n    const errMsg = `Gemini 上傳啟動失敗: ${startRes.status}`;\n    await updateStatus('failed', `${errMsg} ${err.substring(0, 200)}`);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  const uploadUrl = startRes.headers.get('x-goog-upload-url');\n  if (!uploadUrl) {\n    const errMsg = 'Gemini 上傳: 缺少 upload URL';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // 3b: 上傳影片資料\n  const uploadRes = await fetch(uploadUrl, {\n    method: 'POST',\n    headers: {\n      'X-Goog-Upload-Command': 'upload, finalize',\n      'X-Goog-Upload-Offset': '0',\n      'Content-Length': String(numBytes),\n    },\n    body: videoBuffer,\n  });\n  \n  if (!uploadRes.ok) {\n    const err = await uploadRes.text();\n    const errMsg = `Gemini 上傳失敗: ${uploadRes.status}`;\n    await updateStatus('failed', `${errMsg} ${err.substring(0, 200)}`);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  const uploadJson = await uploadRes.json();\n  const fileUri = uploadJson?.file?.uri;\n  const fileName = uploadJson?.file?.name;\n  \n  if (!fileUri || !fileName) {\n    const errMsg = 'Gemini 上傳: 缺少 file URI';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // 3c: 等待影片處理完成\n  let fileReady = false;\n  for (let i = 0; i < 30; i++) {\n    await new Promise(r => setTimeout(r, 3000));\n    const statusRes = await fetch(\n      `https://generativelanguage.googleapis.com/v1beta/${fileName}?key=${GEMINI_KEY}`\n    );\n    if (!statusRes.ok) continue;\n    const statusJson = await statusRes.json();\n    if (statusJson.state === 'ACTIVE') { fileReady = true; break; }\n    if (statusJson.state === 'FAILED') {\n      const errMsg = 'Gemini 影片處理失敗';\n      await updateStatus('failed', errMsg);\n      return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n    }\n  }\n  \n  if (!fileReady) {\n    const errMsg = 'Gemini 影片處理超時（90秒）';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // === Step 4: Gemini 多模態生成逐字稿 ===\n  const PROMPT = `你是一位專業的影片逐字稿轉錄員。\\n\\n## 任務\\n請仔細觀看並聆聽這支影片，產出 **1:1 完全還原** 的逐字稿。\\n\\n## 嚴格要求\\n1. **dialogue 欄位必須是影片中實際說出的每一句話**，一字不漏、一字不改、不要潤飾、不要改寫、不要摘要\\n2. 如果影片中有背景音樂但沒有人說話，dialogue 填「（無對話）」\\n3. 如果影片中有畫面文字（字卡、字幕），在 scene 中完整記錄\\n4. scene 欄位描述你「實際看到的畫面」，不是你推測的\\n5. note 欄位記錄該片段的拍攝手法或特殊效果（轉場、濾鏡、特效文字等）\\n6. **必須使用繁體中文輸出**（即使原始影片是簡體中文或其他語言，也要轉為繁體中文）\\n7. 時間碼必須精準對應影片的實際時間軸\\n\\n## 輸出格式\\n直接輸出 JSON 陣列，不要用 markdown code block 包裝，不要加任何說明文字：\\n[\\n  {\\n    \"timecode\": \"00:00-00:03\",\\n    \"scene\": \"實際看到的畫面描述\",\\n    \"dialogue\": \"影片中實際說出的原話（繁體中文）\",\\n    \"note\": \"拍攝手法備註\"\\n  }\\n]`;\n  \n  const geminiRes = await fetch(\n    `https://generativelanguage.googleapis.com/v1beta/models/${GEMINI_MODEL}:generateContent?key=${GEMINI_KEY}`,\n    {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        contents: [{ parts: [\n          { file_data: { mime_type: mimeType, file_uri: fileUri } },\n          { text: PROMPT },\n        ]}],\n        generationConfig: { temperature: 0.2, maxOutputTokens: 8192 },\n      }),\n    }\n  );\n  \n  if (!geminiRes.ok) {\n    const errText = await geminiRes.text();\n    const errMsg = `Gemini API 錯誤: ${geminiRes.status}`;\n    await updateStatus('failed', `${errMsg} ${errText.substring(0, 300)}`);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  const geminiJson = await geminiRes.json();\n  const raw = geminiJson.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  \n  if (!raw) {\n    const errMsg = 'Gemini 回傳空白內容';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // === Step 5: 解析 JSON 逐字稿 ===\n  let timecodes = [];\n  try {\n    const match = raw.match(/\\[[\\s\\S]*\\]/);\n    if (match) timecodes = JSON.parse(match[0]);\n  } catch {}\n  if (timecodes.length === 0) {\n    try {\n      const match = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (match) timecodes = JSON.parse(match[1].trim());\n    } catch {}\n  }\n  if (Array.isArray(timecodes) && timecodes.length > 0) {\n    timecodes = timecodes.map(tc => ({\n      timecode: tc.timecode || tc.time || '',\n      scene: tc.scene || tc.visual || tc.description || '',\n      dialogue: tc.dialogue || tc.script || tc.text || '',\n      note: tc.note || tc.remark || '',\n    }));\n  }\n  \n  if (timecodes.length === 0) {\n    const errMsg = '無法解析逐字稿格式';\n    await updateStatus('failed', `${errMsg}。原始回傳: ${raw.substring(0, 500)}`);\n    return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'failed', error: errMsg } }];\n  }\n  \n  // === Step 6: 寫回 DB ===\n  await updateStatus('completed', raw, timecodes);\n  \n  return [{ json: { queue_item_id, title: title || '未知影片', platform, status: 'completed', timecodes_count: timecodes.length } }];\n  \n} catch (err) {\n  const errorMsg = err.message || String(err);\n  try {\n    await updateStatus('failed', `處理錯誤: ${errorMsg.substring(0, 500)}`);\n  } catch {}\n  return [{ json: { queue_item_id, title: title || '未知影片', platform: platform || '', status: 'failed', error: errorMsg.substring(0, 200) } }];\n}"
      },
      "name": "逐字稿生成（完整流程）",
      "type": "n8n-nodes-base.code",
      "position": [720, 300],
      "typeVersion": 2,
      "id": "generate-transcript",
      "notes": "完整流程：TikHub 取 URL → 下載影片 → Gemini Files 上傳 → 等待處理 → Gemini 多模態生成 → 解析 → 寫回 DB\n\n每項回傳帶 title + platform + error 方便 Slack 通知"
    },
    {
      "parameters": {
        "jsCode": "// 匯總結果 + 組裝 Slack 訊息\nconst SLACK_TOKEN = $env.SLACK_BOT_TOKEN || '';\nconst SLACK_CHANNEL = $env.SLACK_CHANNEL_ID || '';\nconst SITE_URL = 'https://viral-benchmark.zeabur.app';\n\nconst results = $input.all().map(i => i.json);\nconst completed = results.filter(r => r.status === 'completed');\nconst failed = results.filter(r => r.status === 'failed');\nconst total = results.length;\n\n// 組裝 Slack 訊息\nlet blocks = [];\n\n// 標題\nif (failed.length === 0) {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*✅ 逐字稿生成完成*\\n共 ${total} 支全部成功` }\n  });\n} else if (completed.length === 0) {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*⚠️ 逐字稿生成失敗*\\n共 ${total} 支全部失敗` }\n  });\n} else {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*📝 逐字稿生成結果*\\n成功 ${completed.length} 支，失敗 ${failed.length} 支（共 ${total} 支）` }\n  });\n}\n\n// 成功列表\nif (completed.length > 0) {\n  const successList = completed.map(r => {\n    const platformEmoji = r.platform === 'douyin' ? '🎵' : r.platform === 'tiktok' ? '📱' : '📕';\n    const shortTitle = (r.title || '').substring(0, 30) || '未知影片';\n    return `${platformEmoji} ${shortTitle}（${r.timecodes_count || 0} 段）`;\n  }).join('\\n');\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*成功：*\\n${successList}` }\n  });\n}\n\n// 失敗列表（帶詳細錯誤）\nif (failed.length > 0) {\n  const failList = failed.map(r => {\n    const platformEmoji = r.platform === 'douyin' ? '🎵' : r.platform === 'tiktok' ? '📱' : '📕';\n    const shortTitle = (r.title || '').substring(0, 30) || '未知影片';\n    const shortError = (r.error || '未知錯誤').substring(0, 60);\n    return `${platformEmoji} ${shortTitle}\\n   └ 原因：${shortError}`;\n  }).join('\\n');\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*失敗：*\\n${failList}` }\n  });\n}\n\n// 按鈕連結\nblocks.push({ type: 'divider' });\nblocks.push({\n  type: 'section',\n  text: { type: 'mrkdwn', text: `👉 <${SITE_URL}/shoot-queue|前往拍攝佇列查看>` }\n});\n\n// 發送 Slack\nif (SLACK_TOKEN && SLACK_CHANNEL) {\n  try {\n    await fetch('https://slack.com/api/chat.postMessage', {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer ${SLACK_TOKEN}`,\n      },\n      body: JSON.stringify({\n        channel: SLACK_CHANNEL,\n        blocks,\n        text: `逐字稿生成結果：成功 ${completed.length}，失敗 ${failed.length}`,\n      }),\n    });\n  } catch (e) {\n    // Slack 失敗不影響主流程\n  }\n}\n\nreturn [{\n  json: {\n    total,\n    completed: completed.length,\n    failed: failed.length,\n    results,\n    slack_sent: !!(SLACK_TOKEN && SLACK_CHANNEL),\n  }\n}];"
      },
      "name": "匯總結果 + Slack 通知",
      "type": "n8n-nodes-base.code",
      "position": [960, 300],
      "typeVersion": 2,
      "id": "summarize-and-notify",
      "notes": "統計成功/失敗數量，發送 Slack 通知\n包含：影片名稱、平台、段數、失敗原因\n連結直接指向 /shoot-queue 頁面\n\n需要環境變數：SLACK_BOT_TOKEN, SLACK_CHANNEL_ID"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "拆分項目", "type": "main", "index": 0 }]
      ]
    },
    "拆分項目": {
      "main": [
        [{ "node": "逐字稿生成（完整流程）", "type": "main", "index": 0 }]
      ]
    },
    "逐字稿生成（完整流程）": {
      "main": [
        [{ "node": "匯總結果 + Slack 通知", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 600
  }
}
