n8n-workflows/02_viral-benchmark-script-gen.json
{
  "name": "viral-benchmark-generate-script",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "viral-benchmark-generate-script",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 2,
      "id": "webhook-trigger"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// \uD83D\uDD10 API Key \u8A2D\u5B9A\uFF08\u5168\u90E8\u5728\u9019\u88E1\u7BA1\u7406\uFF09\n// ========================================\nconst CONFIG = {\n  TIKHUB_BASE: 'https://api.tikhub.io',\n  TIKHUB_KEY: '08MyBNEd+1mul1GDTZCzmTjIDgWlY5dKuEThimDdR8KQpG6dO' + 'GWqSmOGCQ==',\n  GEMINI_KEY: 'AIzaSyAjpUeESCx4pcH' + 'W78LhCS2YCEmnEx0kYeA',\n  SLACK_TOKEN: 'xoxb-9436740570114-107427753' + '06003-OS2ZB9w4fj94eZ4dh5gUP19l',\n  SLACK_CHANNEL: 'C0AN1KJNXUJ',\n  SQL_WEBHOOK: 'https://lokokk2002ai.zeabur.app/webhook/supabase-sql',\n  SITE_URL: 'https://viral-benchmark.zeabur.app',\n  GEMINI_MODEL: 'gemini-2.5-flash',\n};\n\n// \u628A items + CONFIG \u50B3\u4E0B\u53BB\nconst items = $input.first().json.body?.items || $input.first().json.items || [];\nreturn items.map(item => ({ json: { ...item, _config: CONFIG } }));"
      },
      "name": "\uD83D\uDD10 \u8A2D\u5B9A + \u62C6\u5206\u9805\u76EE",
      "type": "n8n-nodes-base.code",
      "position": [480, 300],
      "typeVersion": 2,
      "id": "config-and-split",
      "notes": "\u2B50 \u6240\u6709 API Key \u96C6\u4E2D\u5728\u9019\u500B\u7BC0\u9EDE\u7BA1\u7406\n\u4FEE\u6539 Key \u53EA\u9700\u6539\u9019\u88E1"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// \u5B8C\u6574\u9010\u5B57\u7A3F\u751F\u6210\u6D41\u7A0B\uFF08\u55AE\u9805\uFF09\n// =============================================\n\nconst item = $input.first().json;\nconst { queue_item_id, platform, video_id, video_url, title, author_name, _config: C } = item;\n\nasync function runSQL(sql) {\n  const res = await fetch(C.SQL_WEBHOOK, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ sql }),\n  });\n  return res.json();\n}\n\nasync function updateStatus(status, scriptRaw = null, timecodes = null) {\n  const sets = [`status = '${status}'`];\n  if (scriptRaw !== null) {\n    sets.push(`script_raw = '${scriptRaw.replace(/'/g, \"''\")}'`);\n  }\n  if (timecodes !== null) {\n    sets.push(`script_timecodes = '${JSON.stringify(timecodes).replace(/'/g, \"''\")}'::jsonb`);\n  }\n  if (status === 'completed') {\n    sets.push(`script_generated_at = NOW()`);\n  }\n  await runSQL(`UPDATE viral_benchmark.shoot_queue SET ${sets.join(', ')} WHERE id = '${queue_item_id}'`);\n}\n\ntry {\n  // Step 1: TikHub \u53D6\u5F97\u7121\u6C34\u5370\u4E0B\u8F09 URL\n  let downloadUrl = null;\n  if (platform === 'douyin' || platform === 'tiktok') {\n    const apiPath = platform === 'douyin'\n      ? '/api/v1/douyin/app/v3/fetch_one_video'\n      : '/api/v1/tiktok/app/v3/fetch_one_video';\n    const tikRes = await fetch(\n      `${C.TIKHUB_BASE}${apiPath}?aweme_id=${video_id}`,\n      { headers: { Authorization: `Bearer ${C.TIKHUB_KEY}`, Accept: 'application/json' } }\n    );\n    if (tikRes.ok) {\n      const tikJson = await tikRes.json();\n      if (tikJson.code === 200) {\n        const aweme = tikJson.data?.aweme_detail || tikJson.data;\n        downloadUrl = aweme?.video?.play_addr?.url_list?.[0] || aweme?.video?.play_addr_h264?.url_list?.[0] || aweme?.video?.play_addr_lowbr?.url_list?.[0] || aweme?.video?.download_addr?.url_list?.[0] || null;\n      }\n    }\n  }\n  if (!downloadUrl) {\n    const pn = platform === 'xiaohongshu' ? '\u5C0F\u7D05\u66F8' : platform === 'douyin' ? '\u6296\u97F3' : platform === 'tiktok' ? 'TikTok' : platform;\n    const errMsg = `\u7121\u6CD5\u53D6\u5F97\u5F71\u7247\u4E0B\u8F09\u9023\u7D50\uFF08${pn}\uFF09`;\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: errMsg, _config: C } }];\n  }\n\n  // Step 2: \u4E0B\u8F09\u5F71\u7247\n  const videoRes = await fetch(downloadUrl, {\n    headers: { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36', Referer: 'https://www.douyin.com/' },\n    redirect: 'follow',\n  });\n  if (!videoRes.ok) {\n    const errMsg = '\u5F71\u7247\u4E0B\u8F09\u5931\u6557\uFF0CURL \u53EF\u80FD\u5DF2\u904E\u671F';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: errMsg, _config: C } }];\n  }\n  const videoBuffer = await videoRes.arrayBuffer();\n  const contentType = videoRes.headers.get('content-type') || 'video/mp4';\n  const mimeType = contentType.includes('video') ? contentType : 'video/mp4';\n  if (videoBuffer.byteLength < 10240) {\n    const errMsg = '\u4E0B\u8F09\u7684\u5F71\u7247\u6A94\u6848\u592A\u5C0F\uFF08< 10KB\uFF09';\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: errMsg, _config: C } }];\n  }\n\n  // Step 3: Gemini Files API \u4E0A\u50B3\n  const numBytes = videoBuffer.byteLength;\n  const startRes = await fetch(\n    `https://generativelanguage.googleapis.com/upload/v1beta/files?key=${C.GEMINI_KEY}`,\n    {\n      method: 'POST',\n      headers: {\n        'X-Goog-Upload-Protocol': 'resumable', 'X-Goog-Upload-Command': 'start',\n        'X-Goog-Upload-Header-Content-Length': String(numBytes),\n        'X-Goog-Upload-Header-Content-Type': mimeType, 'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({ file: { display_name: `viral_${platform}_${video_id}` } }),\n    }\n  );\n  if (!startRes.ok) {\n    const errMsg = `Gemini \u4E0A\u50B3\u555F\u52D5\u5931\u6557: ${startRes.status}`;\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: errMsg, _config: C } }];\n  }\n  const uploadUrl = startRes.headers.get('x-goog-upload-url');\n  if (!uploadUrl) {\n    await updateStatus('failed', 'Gemini: \u7F3A\u5C11 upload URL');\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: 'Missing upload URL', _config: C } }];\n  }\n  const uploadRes = await fetch(uploadUrl, {\n    method: 'POST',\n    headers: { 'X-Goog-Upload-Command': 'upload, finalize', 'X-Goog-Upload-Offset': '0', 'Content-Length': String(numBytes) },\n    body: videoBuffer,\n  });\n  if (!uploadRes.ok) {\n    const errMsg = `Gemini \u4E0A\u50B3\u5931\u6557: ${uploadRes.status}`;\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: errMsg, _config: C } }];\n  }\n  const uploadJson = await uploadRes.json();\n  const fileUri = uploadJson?.file?.uri;\n  const fileName = uploadJson?.file?.name;\n  if (!fileUri || !fileName) {\n    await updateStatus('failed', 'Gemini: \u7F3A\u5C11 file URI');\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: 'Missing file URI', _config: C } }];\n  }\n\n  // Step 3c: \u7B49\u5F85\u5F71\u7247\u8655\u7406\u5B8C\u6210\n  let fileReady = false;\n  for (let i = 0; i < 30; i++) {\n    await new Promise(r => setTimeout(r, 3000));\n    const sRes = await fetch(`https://generativelanguage.googleapis.com/v1beta/${fileName}?key=${C.GEMINI_KEY}`);\n    if (!sRes.ok) continue;\n    const sJson = await sRes.json();\n    if (sJson.state === 'ACTIVE') { fileReady = true; break; }\n    if (sJson.state === 'FAILED') {\n      await updateStatus('failed', 'Gemini \u5F71\u7247\u8655\u7406\u5931\u6557');\n      return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: 'Gemini file processing failed', _config: C } }];\n    }\n  }\n  if (!fileReady) {\n    await updateStatus('failed', 'Gemini \u5F71\u7247\u8655\u7406\u8D85\u6642\uFF0890\u79D2\uFF09');\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: 'Gemini timeout', _config: C } }];\n  }\n\n  // Step 4: Gemini \u591A\u6A21\u614B\u751F\u6210\u9010\u5B57\u7A3F\n  const PROMPT = '\u4F60\u662F\u4E00\u4F4D\u5C08\u696D\u7684\u5F71\u7247\u9010\u5B57\u7A3F\u8F49\u9304\u54E1\u3002\\n\\n## \u4EFB\u52D9\\n\u8ACB\u4ED4\u7D30\u89C0\u770B\u4E26\u8046\u807D\u9019\u652F\u5F71\u7247\uFF0C\u7522\u51FA **1:1 \u5B8C\u5168\u9084\u539F** \u7684\u9010\u5B57\u7A3F\u3002\\n\\n## \u56B4\u683C\u8981\u6C42\\n1. **dialogue \u6B04\u4F4D\u5FC5\u9808\u662F\u5F71\u7247\u4E2D\u5BE6\u969B\u8AAA\u51FA\u7684\u6BCF\u4E00\u53E5\u8A71**\uFF0C\u4E00\u5B57\u4E0D\u6F0F\u3001\u4E00\u5B57\u4E0D\u6539\u3001\u4E0D\u8981\u6F64\u98FE\u3001\u4E0D\u8981\u6539\u5BEB\u3001\u4E0D\u8981\u6458\u8981\\n2. \u5982\u679C\u5F71\u7247\u4E2D\u6709\u80CC\u666F\u97F3\u6A02\u4F46\u6C92\u6709\u4EBA\u8AAA\u8A71\uFF0Cdialogue \u586B\u300C\uFF08\u7121\u5C0D\u8A71\uFF09\u300D\\n3. \u5982\u679C\u5F71\u7247\u4E2D\u6709\u756B\u9762\u6587\u5B57\uFF08\u5B57\u5361\u3001\u5B57\u5E55\uFF09\uFF0C\u5728 scene \u4E2D\u5B8C\u6574\u8A18\u9304\\n4. scene \u6B04\u4F4D\u63CF\u8FF0\u4F60\u300C\u5BE6\u969B\u770B\u5230\u7684\u756B\u9762\u300D\uFF0C\u4E0D\u662F\u4F60\u63A8\u6E2C\u7684\\n5. note \u6B04\u4F4D\u8A18\u9304\u8A72\u7247\u6BB5\u7684\u62CD\u651D\u624B\u6CD5\u6216\u7279\u6B8A\u6548\u679C\uFF08\u8F49\u5834\u3001\u6FFE\u93E1\u3001\u7279\u6548\u6587\u5B57\u7B49\uFF09\\n6. **\u5FC5\u9808\u4F7F\u7528\u7E41\u9AD4\u4E2D\u6587\u8F38\u51FA**\uFF08\u5373\u4F7F\u539F\u59CB\u5F71\u7247\u662F\u7C21\u9AD4\u4E2D\u6587\u6216\u5176\u4ED6\u8A9E\u8A00\uFF0C\u4E5F\u8981\u8F49\u70BA\u7E41\u9AD4\u4E2D\u6587\uFF09\\n7. \u6642\u9593\u78BC\u5FC5\u9808\u7CBE\u6E96\u5C0D\u61C9\u5F71\u7247\u7684\u5BE6\u969B\u6642\u9593\u8EF8\\n\\n## \u8F38\u51FA\u683C\u5F0F\\n\u76F4\u63A5\u8F38\u51FA JSON \u9663\u5217\uFF0C\u4E0D\u8981\u7528 markdown code block \u5305\u88DD\uFF0C\u4E0D\u8981\u52A0\u4EFB\u4F55\u8AAA\u660E\u6587\u5B57\uFF1A\\n[{\"timecode\": \"00:00-00:03\", \"scene\": \"\u756B\u9762\", \"dialogue\": \"\u5C0D\u8A71\", \"note\": \"\u5099\u8A3B\"}]';\n  const geminiRes = await fetch(\n    `https://generativelanguage.googleapis.com/v1beta/models/${C.GEMINI_MODEL}:generateContent?key=${C.GEMINI_KEY}`,\n    {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        contents: [{ parts: [{ file_data: { mime_type: mimeType, file_uri: fileUri } }, { text: PROMPT }] }],\n        generationConfig: { temperature: 0.2, maxOutputTokens: 8192 },\n      }),\n    }\n  );\n  if (!geminiRes.ok) {\n    const errMsg = `Gemini API \u932F\u8AA4: ${geminiRes.status}`;\n    await updateStatus('failed', errMsg);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: errMsg, _config: C } }];\n  }\n  const geminiJson = await geminiRes.json();\n  const raw = geminiJson.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  if (!raw) {\n    await updateStatus('failed', 'Gemini \u56DE\u50B3\u7A7A\u767D');\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: 'Empty response', _config: C } }];\n  }\n\n  // Step 5: \u89E3\u6790\n  let timecodes = [];\n  try { const m = raw.match(/\\[[\\s\\S]*\\]/); if (m) timecodes = JSON.parse(m[0]); } catch {}\n  if (!timecodes.length) { try { const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) timecodes = JSON.parse(m[1].trim()); } catch {} }\n  if (Array.isArray(timecodes) && timecodes.length > 0) {\n    timecodes = timecodes.map(tc => ({ timecode: tc.timecode||tc.time||'', scene: tc.scene||tc.visual||tc.description||'', dialogue: tc.dialogue||tc.script||tc.text||'', note: tc.note||tc.remark||'' }));\n  }\n  if (!timecodes.length) {\n    await updateStatus('failed', `\u7121\u6CD5\u89E3\u6790\u9010\u5B57\u7A3F\u3002\u539F\u59CB: ${raw.substring(0, 500)}`);\n    return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'failed', error: '\u7121\u6CD5\u89E3\u6790\u9010\u5B57\u7A3F', _config: C } }];\n  }\n\n  // Step 6: \u5BEB\u56DE DB\n  await updateStatus('completed', raw, timecodes);\n  return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform, status: 'completed', timecodes_count: timecodes.length, _config: C } }];\n\n} catch (err) {\n  const errorMsg = err.message || String(err);\n  try { await updateStatus('failed', `\u8655\u7406\u932F\u8AA4: ${errorMsg.substring(0, 500)}`); } catch {}\n  return [{ json: { queue_item_id, title: title || '\u672A\u77E5\u5F71\u7247', platform: platform || '', status: 'failed', error: errorMsg.substring(0, 200), _config: C } }];\n}"
      },
      "name": "逐字稿生成（完整流程）",
      "type": "n8n-nodes-base.code",
      "position": [720, 300],
      "typeVersion": 2,
      "id": "generate-transcript"
    },
    {
      "parameters": {
        "jsCode": "// \u532F\u7E3D\u7D50\u679C + Slack \u901A\u77E5\nconst results = $input.all().map(i => i.json);\nconst C = results[0]?._config || {};\nconst completed = results.filter(r => r.status === 'completed');\nconst failed = results.filter(r => r.status === 'failed');\nconst total = results.length;\n\nlet blocks = [];\nif (failed.length === 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\u2705 \u9010\u5B57\u7A3F\u751F\u6210\u5B8C\u6210*\\n\u5171 ${total} \u652F\u5168\u90E8\u6210\u529F` } });\n} else if (completed.length === 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\u26A0\uFE0F \u9010\u5B57\u7A3F\u751F\u6210\u5931\u6557*\\n\u5171 ${total} \u652F\u5168\u90E8\u5931\u6557` } });\n} else {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\uD83D\uDCDD \u9010\u5B57\u7A3F\u751F\u6210\u7D50\u679C*\\n\u6210\u529F ${completed.length} \u652F\uFF0C\u5931\u6557 ${failed.length} \u652F\uFF08\u5171 ${total} \u652F\uFF09` } });\n}\nif (completed.length > 0) {\n  const list = completed.map(r => {\n    const e = r.platform === 'douyin' ? '\uD83C\uDFB5' : r.platform === 'tiktok' ? '\uD83D\uDCF1' : '\uD83D\uDCD5';\n    return `${e} ${(r.title||'').substring(0,30)||'\u672A\u77E5\u5F71\u7247'}\uFF08${r.timecodes_count||0} \u6BB5\uFF09`;\n  }).join('\\n');\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\u6210\u529F\uFF1A*\\n${list}` } });\n}\nif (failed.length > 0) {\n  const list = failed.map(r => {\n    const e = r.platform === 'douyin' ? '\uD83C\uDFB5' : r.platform === 'tiktok' ? '\uD83D\uDCF1' : '\uD83D\uDCD5';\n    return `${e} ${(r.title||'').substring(0,30)||'\u672A\u77E5\u5F71\u7247'}\\n   \u2514 \u539F\u56E0\uFF1A${(r.error||'\u672A\u77E5\u932F\u8AA4').substring(0,60)}`;\n  }).join('\\n');\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\u5931\u6557\uFF1A*\\n${list}` } });\n}\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: `\uD83D\uDC49 <${C.SITE_URL || 'https://viral-benchmark.zeabur.app'}/shoot-queue|\u524D\u5F80\u62CD\u651D\u4F47\u5217\u67E5\u770B>` } });\n\nif (C.SLACK_TOKEN && C.SLACK_CHANNEL) {\n  try {\n    await fetch('https://slack.com/api/chat.postMessage', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${C.SLACK_TOKEN}` },\n      body: JSON.stringify({ channel: C.SLACK_CHANNEL, blocks, text: `\u9010\u5B57\u7A3F\u751F\u6210\u7D50\u679C\uFF1A\u6210\u529F ${completed.length}\uFF0C\u5931\u6557 ${failed.length}` }),\n    });\n  } catch {}\n}\n\nreturn [{ json: { total, completed: completed.length, failed: failed.length, results } }];"
      },
      "name": "匯總結果 + Slack 通知",
      "type": "n8n-nodes-base.code",
      "position": [960, 300],
      "typeVersion": 2,
      "id": "summarize-and-notify"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "\uD83D\uDD10 \u8A2D\u5B9A + \u62C6\u5206\u9805\u76EE", "type": "main", "index": 0 }]]
    },
    "\uD83D\uDD10 \u8A2D\u5B9A + \u62C6\u5206\u9805\u76EE": {
      "main": [[{ "node": "逐字稿生成（完整流程）", "type": "main", "index": 0 }]]
    },
    "逐字稿生成（完整流程）": {
      "main": [[{ "node": "匯總結果 + Slack 通知", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 600
  }
}
